(
a,
b,
c,
d,
e,
f,
g,
g.1,
h,
h.1,
i,
j,
k,
k.1,
l,
m,
m.1,
n,
n.1,
o,
p,
p.1,
q,
q.1,
r,
r.1,
r.2,
s,
t,
u,
u.1,
v,
w,
x,
y,
y.1,
z,
"hamza-ar",
"alef-ar",
"alef-ar.1",
"alef-ar.2",
"alef-ar.3",
"alef-ar.fina",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.fina.1",
"behDotless-ar.medi",
"behDotless-ar.medi.1",
"behDotless-ar.medi.high",
"behDotless-ar.medi.high.1",
"behDotless-ar.medi.yeh",
"behDotless-ar.init",
"behDotless-ar.init.hah",
"hah-ar",
"hah-ar.1",
"hah-ar.2",
"hah-ar.3",
"hah-ar.4",
"hah-ar.5",
"hah-ar.fina",
"hah-ar.fina.1",
"hah-ar.medi",
"hah-ar.medi.1",
"hah-ar.medi.2",
"hah-ar.medi.3",
"hah-ar.init",
"hah-ar.init.1",
"hah-ar.init.2",
"dal-ar",
"dal-ar.fina",
"reh-ar",
"reh-ar.1",
"reh-ar.2",
"reh-ar.3",
"reh-ar.fina",
"reh-ar.fina.1",
"seen-ar",
"seen-ar.1",
"seen-ar.2",
"seen-ar.3",
"seen-ar.4",
"seen-ar.5",
"seen-ar.6",
"seen-ar.fina",
"seen-ar.fina.1",
"seen-ar.fina.2",
"seen-ar.fina.3",
"seen-ar.fina.4",
"seen-ar.fina.5",
"seen-ar.medi",
"seen-ar.medi.1",
"seen-ar.medi.2",
"seen-ar.medi.3",
"seen-ar.medi.4",
"seen-ar.medi.5",
"seen-ar.medi.6",
"seen-ar.init",
"seen-ar.init.1",
"seen-ar.init.2",
"seen-ar.init.3",
"seen-ar.init.4",
"seen-ar.init.5",
"seen-ar.init.6",
"sad-ar",
"sad-ar.1",
"sad-ar.fina",
"sad-ar.fina.1",
"sad-ar.medi",
"sad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.medi.short",
"tah-ar.medi.short2",
"tah-ar.init",
"tah-ar.init.short",
"tah-ar.init.short2",
"ain-ar",
"ain-ar.1",
"ain-ar.2",
"ain-ar.3",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ain-ar.init.1",
"fehDotless-ar",
"fehDotless-ar.1",
"fehDotless-ar.2",
"fehDotless-ar.3",
"fehDotless-ar.fina",
"fehDotless-ar.fina.1",
"fehDotless-ar.fina.2",
"fehDotless-ar.fina.3",
"fehDotless-ar.medi",
"fehDotless-ar.medi.1",
"fehDotless-ar.init",
"fehDotless-ar.init.1",
"qafDotless-ar",
"qafDotless-ar.fina",
"kaf-ar",
"kaf-ar.1",
"kaf-ar.2",
"kaf-ar.fina",
"kaf-ar.fina.1",
"kaf-ar.fina.2",
"kaf-ar.medi",
"kaf-ar.medi.1",
"kaf-ar.medi.2",
"kaf-ar.init",
"kaf-ar.init.1",
"kaf-ar.init.2",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.medi.lellah",
"lam-ar.medi.short",
"lam-ar.medi.short2",
"lam-ar.medi.yeh",
"lam-ar.init",
"lam-ar.init.hah",
"lam-ar.init.hah2",
"lam-ar.init.lellah",
"lam-ar.init.short",
"lam-ar.init.short2",
"meem-ar",
"meem-ar.1",
"meem-ar.2",
"meem-ar.fina",
"meem-ar.fina.1",
"meem-ar.fina.2",
"meem-ar.medi",
"meem-ar.medi.1",
"meem-ar.init",
"noonghunna-ar",
"noonghunna-ar.fina",
"heh-ar",
"heh-ar.1",
"heh-ar.2",
"heh-ar.isol",
"heh-ar.fina",
"heh-ar.fina.1",
"heh-ar.fina.2",
"heh-ar.medi",
"heh-ar.medi.1",
"heh-ar.medi.2",
"heh-ar.medi.3",
"heh-ar.medi.4",
"heh-ar.medi.5",
"heh-ar.medi.6",
"heh-ar.medi.7",
"heh-ar.init",
"heh-ar.init.1",
"heh-ar.init.2",
"heh-ar.init.3",
"heh-ar.init.4",
"heh-ar.init.5",
"heh-ar.init.6",
"heh-ar.init.7",
"waw-ar",
"waw-ar.1",
"waw-ar.2",
"waw-ar.3",
"waw-ar.fina",
"waw-ar.fina.1",
"alefMaksura-ar",
"alefMaksura-ar.1",
"alefMaksura-ar.2",
"alefMaksura-ar.3",
"alefMaksura-ar.4",
"alefMaksura-ar.5",
"alefMaksura-ar.6",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.0",
"alefMaksura-ar.fina.1",
"alefMaksura-ar.fina.2",
"alefMaksura-ar.fina.3",
"alefMaksura-ar.fina.4",
"alefMaksura-ar.fina.5",
"alefMaksura-ar.fina.6",
"alefMaksura-ar.fina.tooth",
"ae-ar",
"kashida-ar",
"lam_alef-ar",
"lam_alef-ar.fina",
"lam_alef-ar.1",
"lam_alef-ar.2",
"lam_alef-ar.3",
"lam_alef-ar.4",
"lam_alef-ar.5",
"lam_alef-ar.fina.1",
"lam_alef-ar.fina.2",
"lam_alef-ar.fina.3",
"lam_alef-ar.fina.4",
"lam_alef-ar.fina.5",
"zero-ar",
"one-ar",
"one-ar.osf",
"two-ar",
"two-ar.osf",
"two-ar.osf.1",
"two-ar.1",
"three-ar",
"three-ar.osf",
"three-ar.osf.1",
"three-ar.1",
"four-ar",
"four-ar.osf",
"four-ar.osf.1",
"four-ar.osf.2",
"four-ar.1",
"four-ar.2",
"five-ar",
"six-ar",
"six-ar.osf",
"six-ar.osf.1",
"six-ar.1",
"seven-ar",
"seven-ar.1",
"seven-ar.2",
"eight-ar",
"eight-ar.1",
"eight-ar.2",
"nine-ar",
"nine-ar.osf",
"zero-persian",
"one-persian",
"two-persian",
"three-persian",
"four-persian",
"four-persian.urdu",
"five-persian",
"six-persian",
"seven-persian",
"seven-persian.urdu",
"eight-persian",
"nine-persian",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
space.alt,
space.latn,
.notdef,
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
"percent-ar",
percent,
"tahabove-ar",
"dotabove-ar",
"dotabove-ar.alt1",
"dotbelow-ar",
"dotbelow-ar.alt1",
"twodotsverticalabove-ar",
"twodotsverticalabove-ar.alt1",
"twodotsverticalbelow-ar",
"twodotsverticalbelow-ar.alt1",
"twodotshorizontalabove-ar",
"twodotshorizontalabove-ar.alt1",
"twodotshorizontalbelow-ar",
"twodotshorizontalbelow-ar.alt1",
"threedotsdownbelow-ar",
"threedotsdownbelow-ar.alt1",
"threedotsupabove-ar",
"threedotsupabove-ar.alt1",
"hamzaabove-ar",
"hamzabelow-ar",
space,
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefMadda-ar",
"alefWasla-ar",
"beh-ar",
"peh-ar",
"teh-ar",
"theh-ar",
"tteh-ar",
"jeem-ar",
"tcheh-ar",
"khah-ar",
"thal-ar",
"ddal-ar",
"zain-ar",
"rreh-ar",
"jeh-ar",
"sheen-ar",
"dad-ar",
"zah-ar",
"ghain-ar",
"feh-ar",
"veh-ar",
"fehDotmovedbelow-ar",
"fehAfrican-ar",
"qaf-ar",
"qafDotabove-ar",
"qafAfrican-ar",
"keheh-ar",
"gaf-ar",
"noon-ar",
"noonAfrican-ar",
"hehgoal-ar",
"hehgoalHamzaabove-ar",
"hehDoachashmee-ar",
"tehMarbuta-ar",
"tehMarbutagoal-ar",
"wawHamzaabove-ar",
"yeh-ar",
"yehHamzaabove-ar",
"yeh-farsi",
"yehbarree-ar",
"yehbarreeHamzaabove-ar",
_alef,
_behShort,
_bowel,
_bowelShort,
_dal,
_elbow,
_sad,
_tail,
_tail2,
_tail3,
_vextender
)