(
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
g.1,
h.1,
k.1,
m.1,
n.1,
p.1,
q.1,
r.1,
r.2,
u.1,
y.1,
"hamza-ar",
"alef-ar",
"alef-ar.1",
"alef-ar.2",
"alef-ar.3",
"alef-ar.fina",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.fina.1",
"behDotless-ar.medi",
"behDotless-ar.medi.1",
"behDotless-ar.medi.high",
"behDotless-ar.medi.high.1",
"behDotless-ar.medi.yeh",
"behDotless-ar.init",
"behDotless-ar.init.hah",
"hah-ar",
"hah-ar.1",
"hah-ar.2",
"hah-ar.3",
"hah-ar.4",
"hah-ar.5",
"hah-ar.fina",
"hah-ar.fina.1",
"hah-ar.medi",
"hah-ar.medi.1",
"hah-ar.medi.2",
"hah-ar.medi.3",
"hah-ar.init",
"hah-ar.init.1",
"hah-ar.init.2",
"dal-ar",
"dal-ar.fina",
"reh-ar",
"reh-ar.1",
"reh-ar.fina",
"reh-ar.fina.1",
"seen-ar",
"seen-ar.1",
"seen-ar.2",
"seen-ar.3",
"seen-ar.4",
"seen-ar.5",
"seen-ar.6",
"seen-ar.fina",
"seen-ar.fina.1",
"seen-ar.fina.2",
"seen-ar.fina.3",
"seen-ar.fina.4",
"seen-ar.fina.5",
"seen-ar.medi",
"seen-ar.medi.1",
"seen-ar.medi.2",
"seen-ar.medi.3",
"seen-ar.medi.4",
"seen-ar.medi.5",
"seen-ar.medi.6",
"seen-ar.init",
"seen-ar.init.1",
"seen-ar.init.2",
"seen-ar.init.3",
"seen-ar.init.4",
"seen-ar.init.5",
"seen-ar.init.6",
"sad-ar",
"sad-ar.1",
"sad-ar.fina",
"sad-ar.fina.1",
"sad-ar.medi",
"sad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.medi.short",
"tah-ar.medi.short2",
"tah-ar.init",
"tah-ar.init.short",
"tah-ar.init.short2",
"ain-ar",
"ain-ar.1",
"ain-ar.2",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ain-ar.init.1",
"fehDotless-ar",
"fehDotless-ar.1",
"fehDotless-ar.2",
"fehDotless-ar.3",
"fehDotless-ar.fina",
"fehDotless-ar.fina.1",
"fehDotless-ar.fina.2",
"fehDotless-ar.fina.3",
"fehDotless-ar.medi",
"fehDotless-ar.medi.1",
"fehDotless-ar.init",
"fehDotless-ar.init.1",
"qafDotless-ar",
"qafDotless-ar.fina",
"kaf-ar",
"kaf-ar.1",
"kaf-ar.fina",
"kaf-ar.fina.1",
"kaf-ar.medi",
"kaf-ar.medi.1",
"kaf-ar.medi.2",
"kaf-ar.init",
"kaf-ar.init.1",
"kaf-ar.init.2",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.medi.lellah",
"lam-ar.medi.short",
"lam-ar.medi.short2",
"lam-ar.medi.yeh",
"lam-ar.init",
"lam-ar.init.hah",
"lam-ar.init.hah2",
"lam-ar.init.lellah",
"lam-ar.init.short",
"lam-ar.init.short2",
"meem-ar",
"meem-ar.1",
"meem-ar.2",
"meem-ar.fina",
"meem-ar.fina.1",
"meem-ar.fina.2",
"meem-ar.medi",
"meem-ar.medi.1",
"meem-ar.init",
"noonghunna-ar",
"noonghunna-ar.fina",
"heh-ar",
"heh-ar.1",
"heh-ar.2",
"heh-ar.isol",
"heh-ar.fina",
"heh-ar.fina.1",
"heh-ar.fina.2",
"heh-ar.medi",
"heh-ar.medi.1",
"heh-ar.medi.2",
"heh-ar.medi.3",
"heh-ar.medi.4",
"heh-ar.medi.5",
"heh-ar.medi.6",
"heh-ar.medi.7",
"heh-ar.init",
"heh-ar.init.1",
"heh-ar.init.2",
"heh-ar.init.3",
"heh-ar.init.4",
"heh-ar.init.5",
"heh-ar.init.6",
"heh-ar.init.7",
"waw-ar",
"waw-ar.1",
"waw-ar.fina",
"waw-ar.fina.1",
"alefMaksura-ar",
"alefMaksura-ar.1",
"alefMaksura-ar.2",
"alefMaksura-ar.3",
"alefMaksura-ar.4",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.1",
"alefMaksura-ar.fina.2",
"alefMaksura-ar.fina.3",
"alefMaksura-ar.fina.4",
"alefMaksura-ar.fina.tooth",
"ae-ar",
"kashida-ar",
"kashida-ar.half",
"lam_alef-ar",
"lam_alef-ar.fina",
"lam_alef-ar.1",
"lam_alef-ar.fina.1",
"lam_alef-ar.fina.2",
"lam_alef-ar.fina.3",
"lam_alef-ar.fina.4",
"lam_alef-ar.fina.5",
"lam_alef-ar.2",
"lam_alef-ar.3",
"lam_alef-ar.4",
"lam_alef-ar.5",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"fourFarsi-ar",
"sevenFarsi-ar",
"fourFarsi-ar.urdu",
"sevenFarsi-ar.urdu",
"zero-ar.dnom",
"one-ar.dnom",
"two-ar.dnom",
"three-ar.dnom",
"four-ar.dnom",
"five-ar.dnom",
"six-ar.dnom",
"seven-ar.dnom",
"eight-ar.dnom",
"nine-ar.dnom",
"fourFarsi-ar.dnom",
"sevenFarsi-ar.dnom",
"fourFarsi-ar.urdu.dnom",
"sevenFarsi-ar.urdu.dnom",
"zero-ar.numr",
"one-ar.numr",
"two-ar.numr",
"three-ar.numr",
"four-ar.numr",
"five-ar.numr",
"six-ar.numr",
"seven-ar.numr",
"eight-ar.numr",
"nine-ar.numr",
"fourFarsi-ar.numr",
"sevenFarsi-ar.numr",
"fourFarsi-ar.urdu.numr",
"sevenFarsi-ar.urdu.numr",
"one-ar.osf",
"two-ar.osf",
"three-ar.osf",
"four-ar.osf",
"six-ar.osf",
"nine-ar.osf",
"two-ar.osf.1",
"three-ar.osf.1",
"four-ar.osf.1",
"six-ar.osf.1",
"four-ar.osf.2",
"two-ar.1",
"three-ar.1",
"four-ar.1",
"six-ar.1",
"seven-ar.1",
"eight-ar.1",
"four-ar.2",
"seven-ar.2",
"eight-ar.2",
zero,
two,
three,
five,
six,
seven,
eight,
nine,
zero.dnom,
two.dnom,
three.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
two.numr,
three.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
.notdef,
space.alt,
space.latn,
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
"percent-ar",
percent,
"tahabove-ar",
"dotabove-ar",
"dotabove-ar.alt1",
"dotbelow-ar",
"dotbelow-ar.alt1",
"twodotsverticalabove-ar",
"twodotsverticalabove-ar.alt1",
"twodotsverticalbelow-ar",
"twodotsverticalbelow-ar.alt1",
"twodotshorizontalabove-ar",
"twodotshorizontalabove-ar.alt1",
"twodotshorizontalbelow-ar",
"twodotshorizontalbelow-ar.alt1",
"threedotsdownbelow-ar",
"threedotsdownbelow-ar.alt1",
"threedotsupabove-ar",
"threedotsupabove-ar.alt1",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"sukun-ar",
"madda-ar",
space,
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefMadda-ar",
"alefWasla-ar",
"beh-ar",
"peh-ar",
"teh-ar",
"theh-ar",
"tteh-ar",
"jeem-ar",
"tcheh-ar",
"khah-ar",
"thal-ar",
"ddal-ar",
"zain-ar",
"rreh-ar",
"jeh-ar",
"sheen-ar",
"dad-ar",
"zah-ar",
"ghain-ar",
"feh-ar",
"veh-ar",
"fehDotmovedbelow-ar",
"fehAfrican-ar",
"qaf-ar",
"qafDotabove-ar",
"qafAfrican-ar",
"keheh-ar",
"gaf-ar",
"noon-ar",
"noonAfrican-ar",
"hehgoal-ar",
"hehgoalHamzaabove-ar",
"hehDoachashmee-ar",
"tehMarbuta-ar",
"tehMarbutagoal-ar",
"wawHamzaabove-ar",
"yeh-ar",
"yehHamzaabove-ar",
"yeh-farsi",
"yehbarree-ar",
"yehbarreeHamzaabove-ar",
"behDotless-ar.medi.Temp",
"behDotless-ar.medi.1.Temp",
"behDotless-ar.medi.Temp2",
"behDotless-ar.medi.1.Temp2",
"behDotless-ar.medi.high.Temp",
"behDotless-ar.medi.high.1.Temp",
"behDotless-ar.medi.high.Temp2",
"behDotless-ar.medi.high.1.Temp2",
"behDotless-ar.medi.yeh.Temp",
"behDotless-ar.medi.yeh.Temp2",
"hah-ar.medi.Temp",
"hah-ar.medi.1.Temp",
"hah-ar.medi.2.Temp",
"hah-ar.medi.3.Temp",
"hah-ar.medi.Temp2",
"hah-ar.medi.1.Temp2",
"hah-ar.medi.2.Temp2",
"hah-ar.medi.3.Temp2",
"seen-ar.medi.Temp",
"seen-ar.medi.1.Temp",
"seen-ar.medi.2.Temp",
"seen-ar.medi.3.Temp",
"seen-ar.medi.4.Temp",
"seen-ar.medi.5.Temp",
"seen-ar.medi.6.Temp",
"seen-ar.medi.Temp2",
"seen-ar.medi.1.Temp2",
"seen-ar.medi.2.Temp2",
"seen-ar.medi.3.Temp2",
"seen-ar.medi.4.Temp2",
"seen-ar.medi.5.Temp2",
"seen-ar.medi.6.Temp2",
"sad-ar.medi.Temp",
"sad-ar.medi.Temp2",
"tah-ar.medi.Temp",
"tah-ar.medi.Temp2",
"tah-ar.medi.short.Temp",
"tah-ar.medi.short.Temp2",
"tah-ar.medi.short2.Temp",
"tah-ar.medi.short2.Temp2",
"ain-ar.medi.Temp",
"ain-ar.medi.Temp2",
"fehDotless-ar.medi.Temp",
"fehDotless-ar.medi.1.Temp",
"fehDotless-ar.medi.Temp2",
"fehDotless-ar.medi.1.Temp2",
"kaf-ar.medi.Temp",
"kaf-ar.medi.1.Temp",
"kaf-ar.medi.2.Temp",
"kaf-ar.medi.Temp2",
"kaf-ar.medi.1.Temp2",
"kaf-ar.medi.2.Temp2",
"lam-ar.medi.Temp",
"lam-ar.medi.Temp2",
"lam-ar.medi.lellah.Temp",
"lam-ar.medi.lellah.Temp2",
"lam-ar.medi.short.Temp",
"lam-ar.medi.short.Temp2",
"lam-ar.medi.short2.Temp",
"lam-ar.medi.short2.Temp2",
"lam-ar.medi.yeh.Temp",
"lam-ar.medi.yeh.Temp2",
"meem-ar.medi.Temp",
"meem-ar.medi.1.Temp",
"meem-ar.medi.Temp2",
"meem-ar.medi.1.Temp2",
"heh-ar.medi.Temp",
"heh-ar.medi.1.Temp",
"heh-ar.medi.2.Temp",
"heh-ar.medi.3.Temp",
"heh-ar.medi.4.Temp",
"heh-ar.medi.5.Temp",
"heh-ar.medi.6.Temp",
"heh-ar.medi.7.Temp",
"heh-ar.medi.Temp2",
"heh-ar.medi.1.Temp2",
"heh-ar.medi.2.Temp2",
"heh-ar.medi.3.Temp2",
"heh-ar.medi.4.Temp2",
"heh-ar.medi.5.Temp2",
"heh-ar.medi.6.Temp2",
"heh-ar.medi.7.Temp2",
"kashida-ar.Temp",
"kashida-ar.Temp2"
)