<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>600</integer>
  <key>capHeight</key>
  <integer>560</integer>
  <key>copyright</key>
  <string>Copyright &#xa9; 2020 by Khaled Hosny. All rights reserved.</string>
  <key>descender</key>
  <integer>-250</integer>
  <key>familyName</key>
  <string>Abd AlQadir</string>
  <key>guidelines</key>
  <array>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>m</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>319</integer>
  </dict>
  </array>
  <key>italicAngle</key>
  <integer>-0</integer>
  <key>openTypeGaspRangeRecords</key>
  <array>
  <dict>
    <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
      </array>
    <key>rangeMaxPPEM</key>
    <integer>65535</integer>
  </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2020/03/03 22:41:00</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>600</integer>
  <key>openTypeHheaDescender</key>
  <integer>-250</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDescription</key>
  <string>Mushafi Kufic typeface based on the designs and rules of the late calligraphic master Mohammad Abdul Qadir</string>
  <key>openTypeNameDesigner</key>
  <string>Khaled Hosny</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://github.com/alif-type</string>
  <key>openTypeNameLicense</key>
  <string>This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program.  If not, see &lt;https://www.gnu.org/licenses/&gt;</string>
  <key>openTypeNameLicenseURL</key>
  <string>https://www.gnu.org/licenses/agpl-3.0.html</string>
  <key>openTypeNameManufacturer</key>
  <string>Alif Type</string>
  <key>openTypeNameManufacturerURL</key>
  <string>https://github.com/alif-type</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Abd AlQadir</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Regular</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.000</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>6</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>138</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>50</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>75</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>350</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2Type</key>
  <array>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>600</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-250</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>13</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>ALIF</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>560</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>250</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>postscriptFontName</key>
  <string>AbdAlQadir</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Abd AlQadir</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>70</integer>
    <integer>8</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>80</integer>
    <integer>140</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-100</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleMapFamilyName</key>
  <string>Abd AlQadir</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>230</integer>
</dict>
</plist>
