<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.meem-ar.medi</key>
  <array>
    <string>hah-ar.init</string>
    <string>meem-ar.medi</string>
  </array>
  <key>public.kern2.hah-ar.init</key>
  <array>
    <string>hah-ar.init</string>
    <string>meem-ar.medi</string>
  </array>
</dict>
</plist>
