<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>hamza-ar</string>
    <string>alef-ar</string>
    <string>alef-ar.1</string>
    <string>alef-ar.2</string>
    <string>alef-ar.3</string>
    <string>alef-ar.fina</string>
    <string>behDotless-ar</string>
    <string>behDotless-ar.fina</string>
    <string>behDotless-ar.init</string>
    <string>behDotless-ar.init.hah</string>
    <string>behDotless-ar.medi</string>
    <string>behDotless-ar.high</string>
    <string>behDotless-ar.high.1</string>
    <string>hah-ar</string>
    <string>hah-ar.1</string>
    <string>hah-ar.2</string>
    <string>hah-ar.3</string>
    <string>hah-ar.fina</string>
    <string>hah-ar.init</string>
    <string>hah-ar.init.1</string>
    <string>hah-ar.init.2</string>
    <string>hah-ar.medi</string>
    <string>dal-ar</string>
    <string>dal-ar.fina</string>
    <string>reh-ar</string>
    <string>reh-ar.1</string>
    <string>reh-ar.fina</string>
    <string>reh-ar.fina.1</string>
    <string>seen-ar</string>
    <string>seen-ar.1</string>
    <string>seen-ar.2</string>
    <string>seen-ar.3</string>
    <string>seen-ar.4</string>
    <string>seen-ar.5</string>
    <string>seen-ar.6</string>
    <string>seen-ar.fina</string>
    <string>seen-ar.fina.1</string>
    <string>seen-ar.fina.2</string>
    <string>seen-ar.fina.3</string>
    <string>seen-ar.fina.4</string>
    <string>seen-ar.fina.5</string>
    <string>seen-ar.init</string>
    <string>seen-ar.init.1</string>
    <string>seen-ar.init.2</string>
    <string>seen-ar.init.3</string>
    <string>seen-ar.init.4</string>
    <string>seen-ar.init.5</string>
    <string>seen-ar.init.6</string>
    <string>seen-ar.medi</string>
    <string>seen-ar.medi.1</string>
    <string>seen-ar.medi.2</string>
    <string>seen-ar.medi.3</string>
    <string>seen-ar.medi.4</string>
    <string>seen-ar.medi.5</string>
    <string>seen-ar.medi.6</string>
    <string>sad-ar</string>
    <string>sad-ar.1</string>
    <string>sad-ar.fina</string>
    <string>sad-ar.fina.1</string>
    <string>sad-ar.init</string>
    <string>sad-ar.medi</string>
    <string>tah-ar</string>
    <string>tah-ar.fina</string>
    <string>tah-ar.init</string>
    <string>tah-ar.medi</string>
    <string>ain-ar</string>
    <string>ain-ar.fina</string>
    <string>ain-ar.init</string>
    <string>ain-ar.medi</string>
    <string>fehDotless-ar</string>
    <string>fehDotless-ar.1</string>
    <string>fehDotless-ar.2</string>
    <string>fehDotless-ar.3</string>
    <string>fehDotless-ar.fina</string>
    <string>fehDotless-ar.fina.1</string>
    <string>fehDotless-ar.fina.2</string>
    <string>fehDotless-ar.fina.3</string>
    <string>fehDotless-ar.init</string>
    <string>fehDotless-ar.init.1</string>
    <string>fehDotless-ar.medi</string>
    <string>qafDotless-ar</string>
    <string>qafDotless-ar.fina</string>
    <string>kaf-ar</string>
    <string>kaf-ar.1</string>
    <string>kaf-ar.2</string>
    <string>kaf-ar.fina</string>
    <string>kaf-ar.fina.1</string>
    <string>kaf-ar.fina.2</string>
    <string>kaf-ar.init</string>
    <string>kaf-ar.init.1</string>
    <string>kaf-ar.init.2</string>
    <string>kaf-ar.medi</string>
    <string>kaf-ar.medi.1</string>
    <string>kaf-ar.medi.2</string>
    <string>lam-ar</string>
    <string>lam-ar.fina</string>
    <string>lam-ar.init</string>
    <string>lam-ar.init.hah</string>
    <string>lam-ar.medi</string>
    <string>meem-ar</string>
    <string>meem-ar.1</string>
    <string>meem-ar.2</string>
    <string>meem-ar.fina</string>
    <string>meem-ar.fina.1</string>
    <string>meem-ar.fina.2</string>
    <string>meem-ar.init</string>
    <string>meem-ar.medi</string>
    <string>meem-ar.medi.1</string>
    <string>noonghunna-ar</string>
    <string>noonghunna-ar.fina</string>
    <string>heh-ar</string>
    <string>heh-ar.1</string>
    <string>heh-ar.2</string>
    <string>heh-ar.fina</string>
    <string>heh-ar.fina.1</string>
    <string>heh-ar.fina.2</string>
    <string>heh-ar.init</string>
    <string>heh-ar.init.1</string>
    <string>heh-ar.init.2</string>
    <string>heh-ar.init.3</string>
    <string>heh-ar.init.4</string>
    <string>heh-ar.init.5</string>
    <string>heh-ar.init.6</string>
    <string>heh-ar.init.7</string>
    <string>heh-ar.medi</string>
    <string>heh-ar.medi.1</string>
    <string>heh-ar.medi.2</string>
    <string>heh-ar.medi.3</string>
    <string>heh-ar.medi.4</string>
    <string>heh-ar.medi.5</string>
    <string>heh-ar.medi.6</string>
    <string>heh-ar.medi.7</string>
    <string>waw-ar</string>
    <string>waw-ar.1</string>
    <string>waw-ar.fina</string>
    <string>waw-ar.fina.1</string>
    <string>alefMaksura-ar</string>
    <string>alefMaksura-ar.1</string>
    <string>alefMaksura-ar.2</string>
    <string>alefMaksura-ar.fina</string>
    <string>alefMaksura-ar.fina.1</string>
    <string>alefMaksura-ar.fina.2</string>
    <string>lam_alef-ar</string>
    <string>lam_alef-ar.1</string>
    <string>lam_alef-ar.fina</string>
    <string>lam_alef-ar.fina.1</string>
    <string>alefMadda-ar</string>
    <string>alefHamzaabove-ar</string>
    <string>alefHamzabelow-ar</string>
    <string>wawHamzaabove-ar</string>
    <string>beh-ar</string>
    <string>teh-ar</string>
    <string>theh-ar</string>
    <string>jeem-ar</string>
    <string>khah-ar</string>
    <string>thal-ar</string>
    <string>zain-ar</string>
    <string>sheen-ar</string>
    <string>dad-ar</string>
    <string>zah-ar</string>
    <string>ghain-ar</string>
    <string>feh-ar</string>
    <string>qaf-ar</string>
    <string>yehHamzaabove-ar</string>
    <string>noon-ar</string>
    <string>tehMarbuta-ar</string>
    <string>yeh-ar</string>
    <string>yeh-farsi</string>
    <string>uni0671</string>
    <string>dotabove</string>
    <string>dotbelow</string>
    <string>twodotsabove</string>
    <string>twodotsbelow</string>
    <string>threedotsabove</string>
    <string>empty</string>
  </array>
</dict>
</plist>
