---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@400;700&display=swap');

body {
  font-family: "Noto Sans", "Mada", sans-serif;
}

body:lang(ar) {
  direction: rtl;
  font-family: "Mada", sans-serif;
}

header, footer {
  float: left;
}

section {
  float: right;
}

header:lang(ar), footer:lang(ar) {
  float: right;
}

section:lang(ar) {
  float: left;
}

.lang-switcher {
  font-size: 14pt;
  float: left;
  transform: rotate(90deg);
}

.lang-switcher:lang(ar) {
  font-size: 16pt;
  float: right;
  transform: rotate(-90deg);
}

p {
  text-align: justify;
}

.downloads {
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 100%;
}

.downloads a {
  line-height: 1;
  font-size: 120%;
  color: #676767;
  display: block;
  text-align: center;
  padding-top: 12px;
  height: 34px;
}

section img {
 vertical-align: text-bottom;
}

@media print, screen and (max-width: 960px) {
 header {
  padding-inline-end: 320px;
  padding-inline-start: 0px;
 }
 .lang-switcher, .lang-switcher:lang(ar) {
   transform: rotate(0deg);
   margin-bottom: -1.5em;
 }
}

@media print, screen and (max-width: 720px) {
 header {
  padding: 0px;
 }
}

@media print, screen and (max-width: 480px) {
 p {
  text-align: start;
 }
}
