<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>ain-ar</key>
  <string>ain-ar.glif</string>
  <key>ain-ar.fina</key>
  <string>ain-ar.fina.glif</string>
  <key>ain-ar.init</key>
  <string>ain-ar.init.glif</string>
  <key>ain-ar.medi</key>
  <string>ain-ar.medi.glif</string>
  <key>alef-ar</key>
  <string>alef-ar.glif</string>
  <key>alef-ar.1</key>
  <string>alef-ar.1.glif</string>
  <key>alef-ar.2</key>
  <string>alef-ar.2.glif</string>
  <key>alef-ar.3</key>
  <string>alef-ar.3.glif</string>
  <key>alef-ar.fina</key>
  <string>alef-ar.fina.glif</string>
  <key>alefHamzaabove-ar</key>
  <string>alefH_amzaabove-ar.glif</string>
  <key>alefHamzabelow-ar</key>
  <string>alefH_amzabelow-ar.glif</string>
  <key>alefMadda-ar</key>
  <string>alefM_adda-ar.glif</string>
  <key>alefMaksura-ar</key>
  <string>alefM_aksura-ar.glif</string>
  <key>alefMaksura-ar.1</key>
  <string>alefM_aksura-ar.1.glif</string>
  <key>alefMaksura-ar.2</key>
  <string>alefM_aksura-ar.2.glif</string>
  <key>alefMaksura-ar.fina</key>
  <string>alefM_aksura-ar.fina.glif</string>
  <key>alefMaksura-ar.fina.1</key>
  <string>alefM_aksura-ar.fina.1.glif</string>
  <key>alefMaksura-ar.fina.2</key>
  <string>alefM_aksura-ar.fina.2.glif</string>
  <key>beh-ar</key>
  <string>beh-ar.glif</string>
  <key>behDotless-ar</key>
  <string>behD_otless-ar.glif</string>
  <key>behDotless-ar.fina</key>
  <string>behD_otless-ar.fina.glif</string>
  <key>behDotless-ar.high</key>
  <string>behD_otless-ar.high.glif</string>
  <key>behDotless-ar.high.1</key>
  <string>behD_otless-ar.high.1.glif</string>
  <key>behDotless-ar.init</key>
  <string>behD_otless-ar.init.glif</string>
  <key>behDotless-ar.init.hah</key>
  <string>behD_otless-ar.init.hah.glif</string>
  <key>behDotless-ar.medi</key>
  <string>behD_otless-ar.medi.glif</string>
  <key>dad-ar</key>
  <string>dad-ar.glif</string>
  <key>dal-ar</key>
  <string>dal-ar.glif</string>
  <key>dal-ar.fina</key>
  <string>dal-ar.fina.glif</string>
  <key>dotabove</key>
  <string>dotabove.glif</string>
  <key>dotbelow</key>
  <string>dotbelow.glif</string>
  <key>empty</key>
  <string>empty.glif</string>
  <key>feh-ar</key>
  <string>feh-ar.glif</string>
  <key>fehDotless-ar</key>
  <string>fehD_otless-ar.glif</string>
  <key>fehDotless-ar.1</key>
  <string>fehD_otless-ar.1.glif</string>
  <key>fehDotless-ar.2</key>
  <string>fehD_otless-ar.2.glif</string>
  <key>fehDotless-ar.3</key>
  <string>fehD_otless-ar.3.glif</string>
  <key>fehDotless-ar.fina</key>
  <string>fehD_otless-ar.fina.glif</string>
  <key>fehDotless-ar.fina.1</key>
  <string>fehD_otless-ar.fina.1.glif</string>
  <key>fehDotless-ar.fina.2</key>
  <string>fehD_otless-ar.fina.2.glif</string>
  <key>fehDotless-ar.fina.3</key>
  <string>fehD_otless-ar.fina.3.glif</string>
  <key>fehDotless-ar.init</key>
  <string>fehD_otless-ar.init.glif</string>
  <key>fehDotless-ar.init.1</key>
  <string>fehD_otless-ar.init.1.glif</string>
  <key>fehDotless-ar.medi</key>
  <string>fehD_otless-ar.medi.glif</string>
  <key>ghain-ar</key>
  <string>ghain-ar.glif</string>
  <key>hah-ar</key>
  <string>hah-ar.glif</string>
  <key>hah-ar.1</key>
  <string>hah-ar.1.glif</string>
  <key>hah-ar.2</key>
  <string>hah-ar.2.glif</string>
  <key>hah-ar.3</key>
  <string>hah-ar.3.glif</string>
  <key>hah-ar.fina</key>
  <string>hah-ar.fina.glif</string>
  <key>hah-ar.init</key>
  <string>hah-ar.init.glif</string>
  <key>hah-ar.init.1</key>
  <string>hah-ar.init.1.glif</string>
  <key>hah-ar.init.2</key>
  <string>hah-ar.init.2.glif</string>
  <key>hah-ar.medi</key>
  <string>hah-ar.medi.glif</string>
  <key>hamza-ar</key>
  <string>hamza-ar.glif</string>
  <key>heh-ar</key>
  <string>heh-ar.glif</string>
  <key>heh-ar.1</key>
  <string>heh-ar.1.glif</string>
  <key>heh-ar.2</key>
  <string>heh-ar.2.glif</string>
  <key>heh-ar.fina</key>
  <string>heh-ar.fina.glif</string>
  <key>heh-ar.fina.1</key>
  <string>heh-ar.fina.1.glif</string>
  <key>heh-ar.fina.2</key>
  <string>heh-ar.fina.2.glif</string>
  <key>heh-ar.init</key>
  <string>heh-ar.init.glif</string>
  <key>heh-ar.init.1</key>
  <string>heh-ar.init.1.glif</string>
  <key>heh-ar.init.2</key>
  <string>heh-ar.init.2.glif</string>
  <key>heh-ar.init.3</key>
  <string>heh-ar.init.3.glif</string>
  <key>heh-ar.init.4</key>
  <string>heh-ar.init.4.glif</string>
  <key>heh-ar.init.5</key>
  <string>heh-ar.init.5.glif</string>
  <key>heh-ar.init.6</key>
  <string>heh-ar.init.6.glif</string>
  <key>heh-ar.init.7</key>
  <string>heh-ar.init.7.glif</string>
  <key>heh-ar.medi</key>
  <string>heh-ar.medi.glif</string>
  <key>heh-ar.medi.1</key>
  <string>heh-ar.medi.1.glif</string>
  <key>heh-ar.medi.2</key>
  <string>heh-ar.medi.2.glif</string>
  <key>heh-ar.medi.3</key>
  <string>heh-ar.medi.3.glif</string>
  <key>heh-ar.medi.4</key>
  <string>heh-ar.medi.4.glif</string>
  <key>heh-ar.medi.5</key>
  <string>heh-ar.medi.5.glif</string>
  <key>heh-ar.medi.6</key>
  <string>heh-ar.medi.6.glif</string>
  <key>heh-ar.medi.7</key>
  <string>heh-ar.medi.7.glif</string>
  <key>jeem-ar</key>
  <string>jeem-ar.glif</string>
  <key>kaf-ar</key>
  <string>kaf-ar.glif</string>
  <key>kaf-ar.1</key>
  <string>kaf-ar.1.glif</string>
  <key>kaf-ar.2</key>
  <string>kaf-ar.2.glif</string>
  <key>kaf-ar.fina</key>
  <string>kaf-ar.fina.glif</string>
  <key>kaf-ar.fina.1</key>
  <string>kaf-ar.fina.1.glif</string>
  <key>kaf-ar.fina.2</key>
  <string>kaf-ar.fina.2.glif</string>
  <key>kaf-ar.init</key>
  <string>kaf-ar.init.glif</string>
  <key>kaf-ar.init.1</key>
  <string>kaf-ar.init.1.glif</string>
  <key>kaf-ar.init.2</key>
  <string>kaf-ar.init.2.glif</string>
  <key>kaf-ar.medi</key>
  <string>kaf-ar.medi.glif</string>
  <key>kaf-ar.medi.1</key>
  <string>kaf-ar.medi.1.glif</string>
  <key>kaf-ar.medi.2</key>
  <string>kaf-ar.medi.2.glif</string>
  <key>khah-ar</key>
  <string>khah-ar.glif</string>
  <key>lam-ar</key>
  <string>lam-ar.glif</string>
  <key>lam-ar.fina</key>
  <string>lam-ar.fina.glif</string>
  <key>lam-ar.init</key>
  <string>lam-ar.init.glif</string>
  <key>lam-ar.init.hah</key>
  <string>lam-ar.init.hah.glif</string>
  <key>lam-ar.medi</key>
  <string>lam-ar.medi.glif</string>
  <key>lam_alef-ar</key>
  <string>lam_alef-ar.glif</string>
  <key>lam_alef-ar.1</key>
  <string>lam_alef-ar.1.glif</string>
  <key>lam_alef-ar.fina</key>
  <string>lam_alef-ar.fina.glif</string>
  <key>lam_alef-ar.fina.1</key>
  <string>lam_alef-ar.fina.1.glif</string>
  <key>meem-ar</key>
  <string>meem-ar.glif</string>
  <key>meem-ar.1</key>
  <string>meem-ar.1.glif</string>
  <key>meem-ar.2</key>
  <string>meem-ar.2.glif</string>
  <key>meem-ar.fina</key>
  <string>meem-ar.fina.glif</string>
  <key>meem-ar.fina.1</key>
  <string>meem-ar.fina.1.glif</string>
  <key>meem-ar.fina.2</key>
  <string>meem-ar.fina.2.glif</string>
  <key>meem-ar.init</key>
  <string>meem-ar.init.glif</string>
  <key>meem-ar.medi</key>
  <string>meem-ar.medi.glif</string>
  <key>meem-ar.medi.1</key>
  <string>meem-ar.medi.1.glif</string>
  <key>noon-ar</key>
  <string>noon-ar.glif</string>
  <key>noonghunna-ar</key>
  <string>noonghunna-ar.glif</string>
  <key>noonghunna-ar.fina</key>
  <string>noonghunna-ar.fina.glif</string>
  <key>qaf-ar</key>
  <string>qaf-ar.glif</string>
  <key>qafDotless-ar</key>
  <string>qafD_otless-ar.glif</string>
  <key>qafDotless-ar.fina</key>
  <string>qafD_otless-ar.fina.glif</string>
  <key>reh-ar</key>
  <string>reh-ar.glif</string>
  <key>reh-ar.1</key>
  <string>reh-ar.1.glif</string>
  <key>reh-ar.fina</key>
  <string>reh-ar.fina.glif</string>
  <key>reh-ar.fina.1</key>
  <string>reh-ar.fina.1.glif</string>
  <key>sad-ar</key>
  <string>sad-ar.glif</string>
  <key>sad-ar.1</key>
  <string>sad-ar.1.glif</string>
  <key>sad-ar.fina</key>
  <string>sad-ar.fina.glif</string>
  <key>sad-ar.fina.1</key>
  <string>sad-ar.fina.1.glif</string>
  <key>sad-ar.init</key>
  <string>sad-ar.init.glif</string>
  <key>sad-ar.medi</key>
  <string>sad-ar.medi.glif</string>
  <key>seen-ar</key>
  <string>seen-ar.glif</string>
  <key>seen-ar.1</key>
  <string>seen-ar.1.glif</string>
  <key>seen-ar.2</key>
  <string>seen-ar.2.glif</string>
  <key>seen-ar.3</key>
  <string>seen-ar.3.glif</string>
  <key>seen-ar.4</key>
  <string>seen-ar.4.glif</string>
  <key>seen-ar.5</key>
  <string>seen-ar.5.glif</string>
  <key>seen-ar.6</key>
  <string>seen-ar.6.glif</string>
  <key>seen-ar.fina</key>
  <string>seen-ar.fina.glif</string>
  <key>seen-ar.fina.1</key>
  <string>seen-ar.fina.1.glif</string>
  <key>seen-ar.fina.2</key>
  <string>seen-ar.fina.2.glif</string>
  <key>seen-ar.fina.3</key>
  <string>seen-ar.fina.3.glif</string>
  <key>seen-ar.fina.4</key>
  <string>seen-ar.fina.4.glif</string>
  <key>seen-ar.fina.5</key>
  <string>seen-ar.fina.5.glif</string>
  <key>seen-ar.init</key>
  <string>seen-ar.init.glif</string>
  <key>seen-ar.init.1</key>
  <string>seen-ar.init.1.glif</string>
  <key>seen-ar.init.2</key>
  <string>seen-ar.init.2.glif</string>
  <key>seen-ar.init.3</key>
  <string>seen-ar.init.3.glif</string>
  <key>seen-ar.init.4</key>
  <string>seen-ar.init.4.glif</string>
  <key>seen-ar.init.5</key>
  <string>seen-ar.init.5.glif</string>
  <key>seen-ar.init.6</key>
  <string>seen-ar.init.6.glif</string>
  <key>seen-ar.medi</key>
  <string>seen-ar.medi.glif</string>
  <key>seen-ar.medi.1</key>
  <string>seen-ar.medi.1.glif</string>
  <key>seen-ar.medi.2</key>
  <string>seen-ar.medi.2.glif</string>
  <key>seen-ar.medi.3</key>
  <string>seen-ar.medi.3.glif</string>
  <key>seen-ar.medi.4</key>
  <string>seen-ar.medi.4.glif</string>
  <key>seen-ar.medi.5</key>
  <string>seen-ar.medi.5.glif</string>
  <key>seen-ar.medi.6</key>
  <string>seen-ar.medi.6.glif</string>
  <key>sheen-ar</key>
  <string>sheen-ar.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>tah-ar</key>
  <string>tah-ar.glif</string>
  <key>tah-ar.fina</key>
  <string>tah-ar.fina.glif</string>
  <key>tah-ar.init</key>
  <string>tah-ar.init.glif</string>
  <key>tah-ar.medi</key>
  <string>tah-ar.medi.glif</string>
  <key>teh-ar</key>
  <string>teh-ar.glif</string>
  <key>tehMarbuta-ar</key>
  <string>tehM_arbuta-ar.glif</string>
  <key>thal-ar</key>
  <string>thal-ar.glif</string>
  <key>theh-ar</key>
  <string>theh-ar.glif</string>
  <key>threedotsabove</key>
  <string>threedotsabove.glif</string>
  <key>twodotsabove</key>
  <string>twodotsabove.glif</string>
  <key>twodotsbelow</key>
  <string>twodotsbelow.glif</string>
  <key>uni0671</key>
  <string>uni0671.glif</string>
  <key>waw-ar</key>
  <string>waw-ar.glif</string>
  <key>waw-ar.1</key>
  <string>waw-ar.1.glif</string>
  <key>waw-ar.fina</key>
  <string>waw-ar.fina.glif</string>
  <key>waw-ar.fina.1</key>
  <string>waw-ar.fina.1.glif</string>
  <key>wawHamzaabove-ar</key>
  <string>wawH_amzaabove-ar.glif</string>
  <key>yeh-ar</key>
  <string>yeh-ar.glif</string>
  <key>yeh-farsi</key>
  <string>yeh-farsi.glif</string>
  <key>yehHamzaabove-ar</key>
  <string>yehH_amzaabove-ar.glif</string>
  <key>zah-ar</key>
  <string>zah-ar.glif</string>
  <key>zain-ar</key>
  <string>zain-ar.glif</string>
</dict>
</plist>
